In [1]:
import pandas as pd
df = pd.read_csv('pet.csv')
df.head(5)

,Unnamed: 0,year,gu,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,...,cat_gye,gt_sum,gt_own,gt_ad,gt_kill,gt_gye,park,hospital,safety,shop
0,24,2018,강남구,271,158,58,41,57,2,100,...,0,13,1,5,7,0,16.687181,75,1,129
1,26,2018,강동구,458,291,130,107,52,2,164,...,12,3,0,1,2,0,13.764699,47,3,86
2,10,2018,강북구,420,280,98,59,119,4,128,...,0,12,1,7,4,0,60.760586,24,1,34
3,17,2018,강서구,425,288,99,81,103,5,127,...,0,10,0,7,3,0,10.447875,48,1,84
4,22,2018,관악구,880,493,207,275,11,0,358,...,4,29,2,24,3,0,37.119369,30,1,72

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 23 columns):
Unnamed: 0    26 non-null int64
year          26 non-null int64
gu            26 non-null object
total         26 non-null int64
dog_sum       26 non-null int64
dog_own       26 non-null int64
dog_ad        26 non-null int64
dog_kill      26 non-null int64
dog_gye       26 non-null int64
cat_sum       26 non-null int64
cat_own       26 non-null int64
cat_ad        26 non-null int64
cat_kill      26 non-null int64
cat_gye       26 non-null int64
gt_sum        26 non-null int64
gt_own        26 non-null int64
gt_ad         26 non-null int64
gt_kill       26 non-null int64
gt_gye        26 non-null int64
park          26 non-null float64
hospital      26 non-null int64
safety        26 non-null int64
shop          26 non-null int64
dtypes: float64(1), int64(21), object(1)
memory usage: 4.6+ KB

In [3]:
df.corr()

,Unnamed: 0,year,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,cat_own,...,cat_gye,gt_sum,gt_own,gt_ad,gt_kill,gt_gye,park,hospital,safety,shop
Unnamed: 0,1.000000,NaN,-0.312062,-0.314142,-0.308781,-0.276649,-0.347282,-0.371961,-0.306818,-0.281210,...,-0.226294,-0.306020,-0.351094,-0.306518,-0.290629,-0.211695,-0.253732,-0.282315,-0.363734,-0.283518
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total,-0.312062,NaN,1.000000,0.999289,0.999001,0.995965,0.987489,0.957344,0.996853,0.973539,...,0.888797,0.995564,0.959096,0.994312,0.984876,0.708640,0.031699,0.993099,0.900121,0.991968
dog_sum,-0.314142,NaN,0.999289,1.000000,0.999077,0.994259,0.991279,0.956066,0.993171,0.971609,...,0.877695,0.995598,0.958427,0.994189,0.985979,0.691743,0.034366,0.993668,0.901643,0.993081
dog_own,-0.308781,NaN,0.999001,0.999077,1.000000,0.995623,0.986070,0.954941,0.994184,0.974274,...,0.885196,0.995284,0.958968,0.993406,0.986151,0.699242,0.028979,0.992024,0.903153,0.990393
dog_ad,-0.276649,NaN,0.995965,0.994259,0.995623,1.000000,0.972401,0.947135,0.994786,0.977250,...,0.887005,0.992398,0.956386,0.994181,0.976076,0.696036,0.014227,0.983611,0.899325,0.982690
dog_kill,-0.347282,NaN,0.987489,0.991279,0.986070,0.972401,1.000000,0.947243,0.975117,0.948998,...,0.843228,0.984114,0.945362,0.980494,0.980112,0.664166,0.063169,0.989569,0.883706,0.990706
dog_gye,-0.371961,NaN,0.957344,0.956066,0.954941,0.947135,0.947243,1.000000,0.956180,0.917913,...,0.917812,0.946342,0.912035,0.941070,0.941236,0.752948,-0.058477,0.957350,0.962533,0.953162
cat_sum,-0.306818,NaN,0.996853,0.993171,0.994184,0.994786,0.975117,0.956180,1.000000,0.972228,...,0.909300,0.990088,0.954826,0.989250,0.977095,0.741716,0.025432,0.987266,0.893209,0.985017
cat_own,-0.281210,NaN,0.973539,0.971609,0.974274,0.977250,0.948998,0.917913,0.972228,1.000000,...,0.834574,0.977497,0.941532,0.977265,0.966707,0.651506,-0.004580,0.970274,0.883658,0.966492
cat_ad,-0.226153,NaN,0.961353,0.953240,0.958387,0.975751,0.911836,0.909993,0.973790,0.940987,...,0.910255,0.953884,0.927009,0.960081,0.925052,0.745341,0.031749,0.934632,0.853136,0.933572
cat_kill,-0.345631,NaN,0.994519,0.993466,0.991959,0.983477,0.989065,0.958904,0.992251,0.967016,...,0.885401,0.988434,0.949177,0.984151,0.983823,0.719208,0.027055,0.994056,0.893507,0.991636
cat_gye,-0.226294,NaN,0.888797,0.877695,0.885196,0.887005,0.843228,0.917812,0.909300,0.834574,...,1.000000,0.864207,0.843125,0.854296,0.859863,0.898406,-0.103021,0.878333,0.841288,0.866091
gt_sum,-0.306020,NaN,0.995564,0.995598,0.995284,0.992398,0.984114,0.946342,0.990088,0.977497,...,0.864207,1.000000,0.967946,0.997812,0.991208,0.685719,0.038796,0.989814,0.892531,0.988824
gt_own,-0.351094,NaN,0.959096,0.958427,0.958968,0.956386,0.945362,0.912035,0.954826,0.941532,...,0.843125,0.967946,1.000000,0.964930,0.948512,0.686180,0.018482,0.948465,0.845596,0.950590
gt_ad,-0.306518,NaN,0.994312,0.994189,0.993406,0.994181,0.980494,0.941070,0.989250,0.977265,...,0.854296,0.997812,0.964930,1.000000,0.981122,0.669501,0.057315,0.984231,0.889466,0.984253
gt_kill,-0.290629,NaN,0.984876,0.985979,0.986151,0.976076,0.980112,0.941236,0.977095,0.966707,...,0.859863,0.991208,0.948512,0.981122,1.000000,0.684886,0.008683,0.988841,0.890815,0.986106
gt_gye,-0.211695,NaN,0.708640,0.691743,0.699242,0.696036,0.664166,0.752948,0.741716,0.651506,...,0.898406,0.685719,0.686180,0.669501,0.684886,1.000000,-0.064853,0.701198,0.598930,0.678415
park,-0.253732,NaN,0.031699,0.034366,0.028979,0.014227,0.063169,-0.058477,0.025432,-0.004580,...,-0.103021,0.038796,0.018482,0.057315,0.008683,-0.064853,1.000000,-0.013263,-0.105840,-0.010190
hospital,-0.282315,NaN,0.993099,0.993668,0.992024,0.983611,0.989569,0.957350,0.987266,0.970274,...,0.878333,0.989814,0.948465,0.984231,0.988841,0.701198,-0.013263,1.000000,0.900290,0.998065
safety,-0.363734,NaN,0.900121,0.901643,0.903153,0.899325,0.883706,0.962533,0.893209,0.883658,...,0.841288,0.892531,0.845596,0.889466,0.890815,0.598930,-0.105840,0.900290,1.000000,0.898845
shop,-0.283518,NaN,0.991968,0.993081,0.990393,0.982690,0.990706,0.953162,0.985017,0.966492,...,0.866091,0.988824,0.950590,0.984253,0.986106,0.678415,-0.010190,0.998065,0.898845,1.000000

In [4]:
df1 = df.drop(['gu','year'],axis=1)
df1.head(5)

,Unnamed: 0,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,cat_own,cat_ad,...,cat_gye,gt_sum,gt_own,gt_ad,gt_kill,gt_gye,park,hospital,safety,shop
0,24,271,158,58,41,57,2,100,10,17,...,0,13,1,5,7,0,16.687181,75,1,129
1,26,458,291,130,107,52,2,164,0,77,...,12,3,0,1,2,0,13.764699,47,3,86
2,10,420,280,98,59,119,4,128,0,22,...,0,12,1,7,4,0,60.760586,24,1,34
3,17,425,288,99,81,103,5,127,4,17,...,0,10,0,7,3,0,10.447875,48,1,84
4,22,880,493,207,275,11,0,358,11,284,...,4,29,2,24,3,0,37.119369,30,1,72

In [5]:
df1.corr()

,Unnamed: 0,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,cat_own,cat_ad,...,cat_gye,gt_sum,gt_own,gt_ad,gt_kill,gt_gye,park,hospital,safety,shop
Unnamed: 0,1.000000,-0.312062,-0.314142,-0.308781,-0.276649,-0.347282,-0.371961,-0.306818,-0.281210,-0.226153,...,-0.226294,-0.306020,-0.351094,-0.306518,-0.290629,-0.211695,-0.253732,-0.282315,-0.363734,-0.283518
total,-0.312062,1.000000,0.999289,0.999001,0.995965,0.987489,0.957344,0.996853,0.973539,0.961353,...,0.888797,0.995564,0.959096,0.994312,0.984876,0.708640,0.031699,0.993099,0.900121,0.991968
dog_sum,-0.314142,0.999289,1.000000,0.999077,0.994259,0.991279,0.956066,0.993171,0.971609,0.953240,...,0.877695,0.995598,0.958427,0.994189,0.985979,0.691743,0.034366,0.993668,0.901643,0.993081
dog_own,-0.308781,0.999001,0.999077,1.000000,0.995623,0.986070,0.954941,0.994184,0.974274,0.958387,...,0.885196,0.995284,0.958968,0.993406,0.986151,0.699242,0.028979,0.992024,0.903153,0.990393
dog_ad,-0.276649,0.995965,0.994259,0.995623,1.000000,0.972401,0.947135,0.994786,0.977250,0.975751,...,0.887005,0.992398,0.956386,0.994181,0.976076,0.696036,0.014227,0.983611,0.899325,0.982690
dog_kill,-0.347282,0.987489,0.991279,0.986070,0.972401,1.000000,0.947243,0.975117,0.948998,0.911836,...,0.843228,0.984114,0.945362,0.980494,0.980112,0.664166,0.063169,0.989569,0.883706,0.990706
dog_gye,-0.371961,0.957344,0.956066,0.954941,0.947135,0.947243,1.000000,0.956180,0.917913,0.909993,...,0.917812,0.946342,0.912035,0.941070,0.941236,0.752948,-0.058477,0.957350,0.962533,0.953162
cat_sum,-0.306818,0.996853,0.993171,0.994184,0.994786,0.975117,0.956180,1.000000,0.972228,0.973790,...,0.909300,0.990088,0.954826,0.989250,0.977095,0.741716,0.025432,0.987266,0.893209,0.985017
cat_own,-0.281210,0.973539,0.971609,0.974274,0.977250,0.948998,0.917913,0.972228,1.000000,0.940987,...,0.834574,0.977497,0.941532,0.977265,0.966707,0.651506,-0.004580,0.970274,0.883658,0.966492
cat_ad,-0.226153,0.961353,0.953240,0.958387,0.975751,0.911836,0.909993,0.973790,0.940987,1.000000,...,0.910255,0.953884,0.927009,0.960081,0.925052,0.745341,0.031749,0.934632,0.853136,0.933572
cat_kill,-0.345631,0.994519,0.993466,0.991959,0.983477,0.989065,0.958904,0.992251,0.967016,0.938120,...,0.885401,0.988434,0.949177,0.984151,0.983823,0.719208,0.027055,0.994056,0.893507,0.991636
cat_gye,-0.226294,0.888797,0.877695,0.885196,0.887005,0.843228,0.917812,0.909300,0.834574,0.910255,...,1.000000,0.864207,0.843125,0.854296,0.859863,0.898406,-0.103021,0.878333,0.841288,0.866091
gt_sum,-0.306020,0.995564,0.995598,0.995284,0.992398,0.984114,0.946342,0.990088,0.977497,0.953884,...,0.864207,1.000000,0.967946,0.997812,0.991208,0.685719,0.038796,0.989814,0.892531,0.988824
gt_own,-0.351094,0.959096,0.958427,0.958968,0.956386,0.945362,0.912035,0.954826,0.941532,0.927009,...,0.843125,0.967946,1.000000,0.964930,0.948512,0.686180,0.018482,0.948465,0.845596,0.950590
gt_ad,-0.306518,0.994312,0.994189,0.993406,0.994181,0.980494,0.941070,0.989250,0.977265,0.960081,...,0.854296,0.997812,0.964930,1.000000,0.981122,0.669501,0.057315,0.984231,0.889466,0.984253
gt_kill,-0.290629,0.984876,0.985979,0.986151,0.976076,0.980112,0.941236,0.977095,0.966707,0.925052,...,0.859863,0.991208,0.948512,0.981122,1.000000,0.684886,0.008683,0.988841,0.890815,0.986106
gt_gye,-0.211695,0.708640,0.691743,0.699242,0.696036,0.664166,0.752948,0.741716,0.651506,0.745341,...,0.898406,0.685719,0.686180,0.669501,0.684886,1.000000,-0.064853,0.701198,0.598930,0.678415
park,-0.253732,0.031699,0.034366,0.028979,0.014227,0.063169,-0.058477,0.025432,-0.004580,0.031749,...,-0.103021,0.038796,0.018482,0.057315,0.008683,-0.064853,1.000000,-0.013263,-0.105840,-0.010190
hospital,-0.282315,0.993099,0.993668,0.992024,0.983611,0.989569,0.957350,0.987266,0.970274,0.934632,...,0.878333,0.989814,0.948465,0.984231,0.988841,0.701198,-0.013263,1.000000,0.900290,0.998065
safety,-0.363734,0.900121,0.901643,0.903153,0.899325,0.883706,0.962533,0.893209,0.883658,0.853136,...,0.841288,0.892531,0.845596,0.889466,0.890815,0.598930,-0.105840,0.900290,1.000000,0.898845
shop,-0.283518,0.991968,0.993081,0.990393,0.982690,0.990706,0.953162,0.985017,0.966492,0.933572,...,0.866091,0.988824,0.950590,0.984253,0.986106,0.678415,-0.010190,0.998065,0.898845,1.000000

In [6]:
df1.describe()

,Unnamed: 0,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,cat_own,cat_ad,...,cat_gye,gt_sum,gt_own,gt_ad,gt_kill,gt_gye,park,hospital,safety,shop
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,...,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,13.500000,632.307692,412.923077,155.153846,120.923077,131.000000,5.846154,200.538462,5.461538,63.846154,...,3.769231,18.846154,1.076923,11.692308,5.923077,0.153846,26.346897,66.307692,3.153846,110.923077
std,7.648529,1554.420323,1013.764782,381.585921,300.119299,322.686597,14.917620,496.713618,13.799220,166.938238,...,10.561468,46.432482,2.755693,28.936854,14.647657,0.543493,14.188840,162.979206,8.526159,272.982186
min,1.000000,163.000000,92.000000,29.000000,15.000000,2.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,8.204844,11.000000,0.000000,18.000000
25%,7.250000,241.250000,161.750000,51.750000,38.750000,44.500000,1.000000,60.500000,0.250000,9.250000,...,0.000000,7.000000,0.000000,4.000000,2.000000,0.000000,16.065959,25.000000,0.250000,38.000000
50%,13.500000,296.000000,216.500000,78.500000,52.500000,70.000000,2.000000,92.500000,1.500000,14.000000,...,0.000000,9.000000,0.000000,6.000000,3.000000,0.000000,23.754218,30.500000,1.000000,51.500000
75%,19.750000,400.500000,260.500000,98.750000,73.500000,97.500000,3.000000,127.750000,4.000000,26.750000,...,0.000000,12.000000,1.000000,7.000000,4.000000,0.000000,33.894831,46.500000,1.000000,72.000000
max,26.000000,8220.000000,5368.000000,2017.000000,1572.000000,1703.000000,76.000000,2607.000000,71.000000,830.000000,...,49.000000,245.000000,14.000000,152.000000,77.000000,2.000000,60.760586,862.000000,41.000000,1442.000000

In [7]:
dog = df[['dog_sum','dog_own','dog_ad' , 'dog_kill','dog_gye', 'park', 'hospital', 'safety'

,'shop' ]]
dog

,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,park,hospital,safety,shop
0,158,58,41,57,2,16.687181,75,1,129
1,291,130,107,52,2,13.764699,47,3,86
2,280,98,59,119,4,60.760586,24,1,34
3,288,99,81,103,5,10.447875,48,1,84
4,493,207,275,11,0,37.119369,30,1,72
5,190,93,36,60,1,19.686964,40,0,71
6,173,41,53,76,3,15.858885,24,1,38
7,135,37,38,58,2,16.945705,15,1,40
8,222,63,49,109,1,40.458600,38,0,57
9,204,76,45,82,1,48.788764,22,0,38
10,237,91,57,86,3,8.973311,27,1,64
11,227,118,67,42,0,28.039882,25,2,35
12,222,106,89,15,12,18.620916,47,0,38
13,179,73,23,82,1,29.168443,25,1,43
14,124,42,15,64,3,33.806904,48,2,84
15,155,46,31,77,1,18.394645,31,0,52
16,261,78,43,138,2,33.924140,33,0,51
17,211,57,62,90,2,13.123219,67,1,132
18,231,117,112,2,0,16.716696,45,2,23
19,139,50,44,43,2,12.607592,30,1,30
20,190,79,74,17,20,8.204844,29,19,48
21,285,95,52,133,5,47.123781,37,1,65
22,122,50,23,49,0,48.382676,11,1,18
23,92,29,24,38,1,31.442522,14,0,38
24,259,84,72,100,3,28.149650,30,1,72
25,5368,2017,1572,1703,76,27.821472,862,41,1442

In [8]:
dog.corr()

,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,park,hospital,safety,shop
dog_sum,1.000000,0.999077,0.994259,0.991279,0.956066,0.034366,0.993668,0.901643,0.993081
dog_own,0.999077,1.000000,0.995623,0.986070,0.954941,0.028979,0.992024,0.903153,0.990393
dog_ad,0.994259,0.995623,1.000000,0.972401,0.947135,0.014227,0.983611,0.899325,0.982690
dog_kill,0.991279,0.986070,0.972401,1.000000,0.947243,0.063169,0.989569,0.883706,0.990706
dog_gye,0.956066,0.954941,0.947135,0.947243,1.000000,-0.058477,0.957350,0.962533,0.953162
park,0.034366,0.028979,0.014227,0.063169,-0.058477,1.000000,-0.013263,-0.105840,-0.010190
hospital,0.993668,0.992024,0.983611,0.989569,0.957350,-0.013263,1.000000,0.900290,0.998065
safety,0.901643,0.903153,0.899325,0.883706,0.962533,-0.105840,0.900290,1.000000,0.898845
shop,0.993081,0.990393,0.982690,0.990706,0.953162,-0.010190,0.998065,0.898845,1.000000

In [9]:
dog['shop']

0      129
1       86
2       34
3       84
4       72
5       71
6       38
7       40
8       57
9       38
10      64
11      35
12      38
13      43
14      84
15      52
16      51
17     132
18      23
19      30
20      48
21      65
22      18
23      38
24      72
25    1442
Name: shop, dtype: int64

In [11]:
cat = df[['cat_sum','cat_own','cat_ad' , 'cat_kill','cat_gye', 'park', 'hospital', 'safety'

,'shop' ]]
cat.head(5)

,cat_sum,cat_own,cat_ad,cat_kill,cat_gye,park,hospital,safety,shop
0,100,10,17,73,0,16.687181,75,1,129
1,164,0,77,75,12,13.764699,47,3,86
2,128,0,22,106,0,60.760586,24,1,34
3,127,4,17,106,0,10.447875,48,1,84
4,358,11,284,59,4,37.119369,30,1,72

In [12]:
cat.corr()

,cat_sum,cat_own,cat_ad,cat_kill,cat_gye,park,hospital,safety,shop
cat_sum,1.000000,0.972228,0.973790,0.992251,0.909300,0.025432,0.987266,0.893209,0.985017
cat_own,0.972228,1.000000,0.940987,0.967016,0.834574,-0.004580,0.970274,0.883658,0.966492
cat_ad,0.973790,0.940987,1.000000,0.938120,0.910255,0.031749,0.934632,0.853136,0.933572
cat_kill,0.992251,0.967016,0.938120,1.000000,0.885401,0.027055,0.994056,0.893507,0.991636
cat_gye,0.909300,0.834574,0.910255,0.885401,1.000000,-0.103021,0.878333,0.841288,0.866091
park,0.025432,-0.004580,0.031749,0.027055,-0.103021,1.000000,-0.013263,-0.105840,-0.010190
hospital,0.987266,0.970274,0.934632,0.994056,0.878333,-0.013263,1.000000,0.900290,0.998065
safety,0.893209,0.883658,0.853136,0.893507,0.841288,-0.105840,0.900290,1.000000,0.898845
shop,0.985017,0.966492,0.933572,0.991636,0.866091,-0.010190,0.998065,0.898845,1.000000

In [2]:
import pandas as pd
df = pd.read_csv('total2.csv')
df.head(5)

,gu,total,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,cat_sum,cat_own,cat_ad,...,park,hospital,safety,shop,household,income,Unnamed: 18,population,old,old/population
0,강남구,271,158,58,41,57,2,100,10,17,...,16.687181,75,1,129,"203,083",3750000,375,"551,888","66,011",0.119609
1,강동구,458,291,130,107,52,2,164,0,77,...,13.764699,47,3,86,"159,233",3070000,307,"437,050","57,680",0.131976
2,강북구,420,280,98,59,119,4,128,0,22,...,60.760586,24,1,34,"127,551",2790000,279,"326,063","57,401",0.176043
3,강서구,425,288,99,81,103,5,127,4,17,...,10.447875,48,1,84,"235,754",3780000,378,"606,981","78,042",0.128574
4,관악구,880,493,207,275,11,0,358,11,284,...,37.119369,30,1,72,"236,761",2960000,296,"521,960","71,317",0.136633

In [4]:
dog = df[['dog_sum','dog_own','dog_ad' , 'dog_kill','dog_gye', 'park', 'hospital', 'safety'

,'shop' ,'household', 'income', 'population','old','old/population']]
dog.head()

,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,park,hospital,safety,shop,household,income,population,old,old/population
0,158,58,41,57,2,16.687181,75,1,129,"203,083",3750000,"551,888","66,011",0.119609
1,291,130,107,52,2,13.764699,47,3,86,"159,233",3070000,"437,050","57,680",0.131976
2,280,98,59,119,4,60.760586,24,1,34,"127,551",2790000,"326,063","57,401",0.176043
3,288,99,81,103,5,10.447875,48,1,84,"235,754",3780000,"606,981","78,042",0.128574
4,493,207,275,11,0,37.119369,30,1,72,"236,761",2960000,"521,960","71,317",0.136633

In [5]:
cat = df[['cat_sum','cat_own','cat_ad' , 'cat_kill','cat_gye', 'park', 'hospital', 'safety'

,'shop' ,'household', 'income', 'population','old','old/population']]
cat.head()

,cat_sum,cat_own,cat_ad,cat_kill,cat_gye,park,hospital,safety,shop,household,income,population,old,old/population
0,100,10,17,73,0,16.687181,75,1,129,"203,083",3750000,"551,888","66,011",0.119609
1,164,0,77,75,12,13.764699,47,3,86,"159,233",3070000,"437,050","57,680",0.131976
2,128,0,22,106,0,60.760586,24,1,34,"127,551",2790000,"326,063","57,401",0.176043
3,127,4,17,106,0,10.447875,48,1,84,"235,754",3780000,"606,981","78,042",0.128574
4,358,11,284,59,4,37.119369,30,1,72,"236,761",2960000,"521,960","71,317",0.136633

In [6]:
dog.corr()

,dog_sum,dog_own,dog_ad,dog_kill,dog_gye,park,hospital,safety,shop,income,old/population
dog_sum,1.000000,0.999077,0.994259,0.991279,0.956066,0.034366,0.993633,0.901643,0.993081,0.995411,0.010335
dog_own,0.999077,1.000000,0.995623,0.986070,0.954941,0.028979,0.991987,0.903153,0.990393,0.993761,-0.059287
dog_ad,0.994259,0.995623,1.000000,0.972401,0.947135,0.014227,0.983559,0.899325,0.982690,0.984507,-0.171122
dog_kill,0.991279,0.986070,0.972401,1.000000,0.947243,0.063169,0.989555,0.883706,0.990706,0.992081,0.306372
dog_gye,0.956066,0.954941,0.947135,0.947243,1.000000,-0.058477,0.957336,0.962533,0.953162,0.959054,0.096278
park,0.034366,0.028979,0.014227,0.063169,-0.058477,1.000000,-0.013094,-0.105840,-0.010190,0.015132,0.614058
hospital,0.993633,0.991987,0.983559,0.989555,0.957336,-0.013094,1.000000,0.900292,0.998069,0.995577,-0.747810
safety,0.901643,0.903153,0.899325,0.883706,0.962533,-0.105840,0.900292,1.000000,0.898845,0.906075,0.101855
shop,0.993081,0.990393,0.982690,0.990706,0.953162,-0.010190,0.998069,0.898845,1.000000,0.994159,-0.544938
income,0.995411,0.993761,0.984507,0.992081,0.959054,0.015132,0.995577,0.906075,0.994159,1.000000,-0.175259
old/population,0.010335,-0.059287,-0.171122,0.306372,0.096278,0.614058,-0.747810,0.101855,-0.544938,-0.175259,1.000000

In [7]:
cat.corr()

,cat_sum,cat_own,cat_ad,cat_kill,cat_gye,park,hospital,safety,shop,income,old/population
cat_sum,1.000000,0.972228,0.973790,0.992251,0.909300,0.025432,0.987226,0.893209,0.985017,0.987222,-0.207144
cat_own,0.972228,1.000000,0.940987,0.967016,0.834574,-0.004580,0.970224,0.883658,0.966492,0.969667,-0.282164
cat_ad,0.973790,0.940987,1.000000,0.938120,0.910255,0.031749,0.934583,0.853136,0.933572,0.934005,-0.144189
cat_kill,0.992251,0.967016,0.938120,1.000000,0.885401,0.027055,0.994023,0.893507,0.991636,0.994525,-0.177584
cat_gye,0.909300,0.834574,0.910255,0.885401,1.000000,-0.103021,0.878267,0.841288,0.866091,0.873043,-0.146453
park,0.025432,-0.004580,0.031749,0.027055,-0.103021,1.000000,-0.013094,-0.105840,-0.010190,0.015132,0.614058
hospital,0.987226,0.970224,0.934583,0.994023,0.878267,-0.013094,1.000000,0.900292,0.998069,0.995577,-0.747810
safety,0.893209,0.883658,0.853136,0.893507,0.841288,-0.105840,0.900292,1.000000,0.898845,0.906075,0.101855
shop,0.985017,0.966492,0.933572,0.991636,0.866091,-0.010190,0.998069,0.898845,1.000000,0.994159,-0.544938
income,0.987222,0.969667,0.934005,0.994525,0.873043,0.015132,0.995577,0.906075,0.994159,1.000000,-0.175259
old/population,-0.207144,-0.282164,-0.144189,-0.177584,-0.146453,0.614058,-0.747810,0.101855,-0.544938,-0.175259,1.000000